.mainForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  margin: auto;
  width: 50%;
  height: 50%;
  border: 2px solid rgb(20, 55, 209);
}
.Heading {
  font-size: larger;
  font-weight: 900;
}
.submit {
  background-color: blue;
  color: white;
  border-radius: 5px;
  height: 1.5rem;
  font-size: 0.8rem;
}
.input {
  font-size: 0.8rem;
  height: 1.5rem;
  border-radius: 5px;
}
.line {
  width: 100%;
}
td {
  width: 50rem;
}
hr {
  border: 0.4px solid gray;
}
