.mainForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  margin: auto;
}
.Heading {
  font-size: larger;
  font-weight: 900;
}
.submit {
  background-color: blue;
  color: white;
  border-radius: 5px;
  height: 1.5rem;
  font-size: 0.8rem;
}
.input {
  font-size: 0.8rem;
  height: 1.5rem;
  border-radius: 5px;
}
.line {
  width: 100%;
}
td {
  width: 50rem;
}
hr {
  border: 0.4px solid gray;
}
.save {
  background-color: rgb(217, 255, 0);
  color: rgb(10, 10, 10);
  border-radius: 5px;
  height: 1.5rem;
  font-size: 0.8rem;
}
.edit {
  background-color: rgb(212, 212, 240);
  color: rgb(6, 6, 6);
  border-radius: 5px;
  height: 1.5rem;
  font-size: 0.8rem;
  margin-left: 4rem;
  max-width: 5rem;
  float: right;
}
